
h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

.navbar {
	background-color: #855005;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;	
	width: 100vh;
	height: 20vh;
	-webkit-filter: drop-shadow(3px 3px 3px white);
	filter: drop-shadow(3px 3px 3px white);
}

.jumbotron {
    background-image: url(jumbo.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-size: 5vh;
    text-shadow: 3px 3px 3px white;
	color: black;
}

.glyphicon {
	width: 400px;
}

.slogan {
	margin: 12%;
}

.presentation {
	text-align: center;
	padding: 5%;
}

#produits {
	text-shadow: 3px 3px 3px white;
	color: black;
	text-align: center;
}

.left_present {
	text-align: center;
	background-color: #6d4f2b;
}

.maps2 {
	text-align: center;	
	background-color: #6d4f2b;

}

.social {
	height: 80%;
	width: 20%;
}

.textmodal {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
.imgmodal {
	width: 200px;
	height: 200px;
}
.imgprod {
	height: 150px;
	width: 150px;
	margin: 20px;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
}
.back {
	background-color: grey;
}

.btn {
	margin: 20px;
	box-shadow: 5px 5px 5px black;
	color: white;
	background-color: #855005;
	margin: auto;
	text-align: right;
	border-color: black;
	}

.border {
	border-style: solid;
	border-color: #855005;
	border-radius: 15px 15px 15px 15px;
	margin: 20px;
	box-shadow: 4px 4px 4px white;
	width: 240px;
	background-color: white;
}

.button-center {
	text-align: center;
	padding-bottom: 5px;
}

#bigbloc {
	padding-left: 130px;
	background-image: url(leather.jpg);
	background-size: cover;
	background-attachment: fixed;
	
}

.prod_title {
	font-size: 18px;
	text-align: center;
	color: #855005;
}

.perso {
	text-align: center;
	margin: auto;
}

.imgperso{
	height: 300px;
	width: 300px;
	margin-top: 5%;
}

.contact {
	font-size: 2em;
}

.center_bloc, .right_bloc, .left_bloc {
	background-color: black;
	height: 100px;
}

.navbar {
	background-color: #855005;
}
iframe {
	width: 100%;
	height: 300px;
	border: 0px;
	
}
.maps {
	padding-top: 20px;
	background-color: #6d4f2b;
}
.mag {
	width: 100%;
	height: 185px;
	background-color: #6d4f2b;
}

