h1 {
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 200%;
}

h2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 150%;
}

#titrejumbo, #sloganjumbo {
	text-align: center;
    text-shadow: 3px 3px 3px white;
	color: black;
}

.navbar {
	font-family: 'Allerta Stencil', sans-serif;
	background-color: #855005;
	padding-left: 20%;
	padding-right: 20%;
}

.scroll {
	display: block;
	text-align: center;
    text-shadow: 3px 3px 3px white;
	color: black;
	font-size: 300%;
}

a:hover {
	text-decoration: none;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;	
	width: 100vh;
	height: 20vh;
	-webkit-filter: drop-shadow(3px 3px 3px white);
	filter: drop-shadow(3px 3px 3px white);
}

.jumbotron {
    background-image: url(jumbo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.presentation {
	text-align: center;
	padding: 2%;
}

#produits {
	text-shadow: 3px 3px 3px white;
	color: black;
	text-align: center;
}

.left_present {
	text-align: center;
}

.textmodal {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
.imgmodal {
	width: 200px;
	height: 200px;
}

.imgprod {
	height: 200px;
	width: 200px;
	margin: 20px;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
}

.back {
	background-color: grey;
}

.btn {
	margin: 20px;
	box-shadow: 5px 5px 5px black;
	color: white;
	background-color: #855005;
	margin: auto;
	text-align: right;
	border-color: black;
	}

.border {
	border-style: solid;
	border-color: #855005;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 4px 4px 4px white;
	background-color: white;
}

.button-center {
	text-align: center;
	padding-bottom: 5px;
}

#bigbloc {
	background-image: url(leather.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: block;
	padding: 5%;
}
.entete_prod {

	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.titre_ligne {
	text-align: center;
	color: white;
	text-shadow: 4px 4px 4px black;
	font-size: 35px;
}

.prod_title {
	font-size: 18px;
	text-align: center;
	color: #855005;
}

.perso {
	text-align: center;
	margin: auto;
}

.nouveaute {
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 400%;
	text-decoration: underline;
}

.imgperso{
	height: 50%;
	width: 45%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 25px 0 25px 0;
	box-shadow: 5px 5px 5px black;
}
.nosmags {
	text-align: center;
}
.nosmags2 {
	font-size: 28px;
	text-align: center;
}
.maps{
	padding-top: 20px;
	background-image: url(leather.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-shadow: 3px 3px 3px black;
	color: white;
	width: 100%;
	margin: auto;

}

.maps2 {
	text-align: center;	
	margin-top: 5%;
}

.mag{
	width: 100%;
	height: 450px;
	margin-top: 10%;
	box-shadow: 5px 5px 5px black;

}

iframe {
	width: 100%;
	height: 450px;
	border: 0px;
	box-shadow: 5px 5px 5px black;
}
.contact {
	font-size: 2em;
}
.social {
	height: 40px;
	width: 40px;
}
.center_bloc, .right_bloc, .left_bloc {
	background-color: black;
	height: 100px;
}
footer {
	height: 10%;
	width: 100%;

