h1 {

}
h2 {
	font-size: 100%;
}

.logo {
	margin: auto;
	width: 100vh;
	height: 20vh;
	-webkit-filter: drop-shadow(3px 3px 3px white);
	filter: drop-shadow(3px 3px 3px white);
}


.jumbotron {
    background-image: url(jumbo.jpg);
    opacity: 20px;
    background-size: cover;
    font-size: 5vh;
    text-shadow: 3px 3px 3px white;
	color: black;
	text-align: center;
}

.slogan {
	margin: 12%;
}

.center_bloc, .right_bloc, .left_bloc {
	background-color: black;
	height: 100px;
}
.right_bloc {

}

.left_present {
	text-align: center;
	padding: 5%;
}

.maps2 {
	text-align: center;
}

.social {
	height: 80%;
	width: 20%;
}

.contact {
	font-size: 2em;
}
.textmodal {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
.imgmodal {
	width: 200px;
	height: 200px;
}
.imgprod {
	height: 150px;
	width: 150px;
}
.blocimg {
	
}
<<<<<<< HEAD
=======

>>>>>>> d0297cd0c4356b9271afcd8a999157b0e08361da
